[run]
source = .
omit =
    */tests/*
    */migrations/*
    */__init__.py
    */apps.py
    manage.py
    core/settings.py
    */venv/*
    */asgi.py
    */wsgi.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError